.products
{
    font-size: 0;
    width: 100%;
    max-width: 1000px;
    margin: 30px auto 10px;

    &__header
    {
        margin-bottom: 20px;
        background-color: #cae8f3;
        padding: 7px 10px;
        box-sizing: border-box;

        &-title
        {
            font-size: 23px;
            font-weight: bold;
        }

        &-select
        {
            float: right;
            margin-top: -20px;
        }
    }

    &__item
    {
        width: calc(100% / 4);
        font-size: 15px;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        padding: 10px;
        box-sizing: border-box;

        @media (max-width: 700px)
        {
            width: calc(100% / 2);
        }

        &-text
        {
            font-size: calc(0.60em + 1vmin);
            display: inline-block;
            width: 100%;
            vertical-align: middle;

            &--large
            {
                font-size: calc(0.70em + 1vmin);
                float: right;
            }
        }

        &-image
        {
            max-width: 100%;
            margin-bottom: 40px;
        }

        &--isExclusive
        {
            &:after
            {
                content: 'Exclusive';
                padding: 10px 15px;
                color: white;
                font-size: 11px;
                position: absolute;
                bottom: 50px; left: 0;
                background-color: forestgreen;
            }
        }

        &--isSale
        {
            &:after
            {
                @extend .products__item--isExclusive:after;
                content: 'Sale';
                background-color: red;
            }
        }
    }
}