.products
{
    font-size: 0;
    width: 100%;
    max-width: 1000px;
    margin: 50px auto 10px;

    &__header
    {
        margin-bottom: 20px;
        background-color: #cae8f3;
        padding: 5px 10px;
        box-sizing: border-box;

        &-title
        {
            font-size: 23px;
            font-weight: bold;
        }

        &-select
        {
            float: right;
        }
    }

    &__item
    {
        width: calc(100% / 4);
        font-size: 15px;
        display: inline-block;
        position: relative;
        padding: 10px;
        box-sizing: border-box;

        @media (max-width: 700px)
        {
            width: calc(100% / 2);
        }

        &-image
        {
            max-width: 100%;
        }

        &--isExclusive
        {
            &:after
            {
                content: 'Exclusive';
                padding: 5px 7px;
                color: white;
                font-size: 13px;
                position: absolute;
                bottom: 50px; left: 0;
                background-color: forestgreen;
            }
        }

        &--isSale
        {
            &:after
            {
                content: 'Sale';
                padding: 5px 7px;
                color: white;
                font-size: 13px;
                position: absolute;
                bottom: 50px; left: 0;
                background-color: red;
            }
        }
    }
}